<a href="https://colab.research.google.com/github/Alvaro-Garcia-Parra/AA_GRUPO3/blob/main/LAB02_Pr1_RA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importación de librerías a utilizar
import mlxtend as ml
from mlxtend.frequent_patterns import association_rules, apriori
from mlxtend import frequent_patterns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
from numpy.core.function_base import linspace
from math import floor
from math import ceil
from numpy.ma.core import size

In [2]:
# Lectura de la base de datos
filename = 'BlackFriday.csv'
data = pd.read_csv(filename, sep = ',')

# Revisión de los datos
print(data.dtypes)
data.head(10)

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
dtype: object

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1,C,3,1,2,3.0,15.0
6,1000013,P00155442,M,46-50,1,C,3,1,1,11.0,15.0
7,1000013,P0094542,M,46-50,1,C,3,1,2,4.0,9.0
8,1000015,P00161842,M,26-35,7,A,1,0,10,13.0,16.0
9,1000022,P00067942,M,18-25,15,A,4+,0,5,14.0,NaN

In [3]:
# Rellenamos los valores na con 0, ya que no tiene categoría
data = data.fillna(0.0)

# Quitamos los duplicados
data = data.drop_duplicates()

In [4]:
df_Product = data.groupby(['User_ID','Product_ID'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [5]:
df_Gender = data.groupby(['User_ID','Gender'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [6]:
df_Age = data.groupby(['User_ID','Age'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [7]:
df_Occupation = data.groupby(['User_ID','Occupation'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')
df_Occupation = df_Occupation.set_axis(['0_O','1_O','2_O','3_O','4_O','5_O','6_O','7_O','8_O','9_O','10_O','11_O','12_O','13_O','14_O','15_O','16_O','17_O','18_O','19_O','20_O'], axis = 1, inplace = False)

In [8]:
df_City = data.groupby(['User_ID','City_Category'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')

In [9]:
df_Stay = data.groupby(['User_ID','Stay_In_Current_City_Years'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')
df_Stay = df_Stay.set_axis(['0_S','1_S','2_S','3_S','4+_S'], axis = 1, inplace = False)

In [10]:
df_Marital = data.groupby(['User_ID','Marital_Status'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')
df_Marital = df_Marital.set_axis(['0_M','1_M'], axis = 1, inplace = False)

In [11]:
df_Product_Category_1 = data.groupby(['User_ID','Product_Category_1'])['Product_Category_2'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')
df_Product_Category_1 = df_Product_Category_1.set_axis(['1_C1','2_C1','3_C1','4_C1','5_C1','6_C1','7_C1','8_C1','9_C1','10_C1','11_C1','12_C1','13_C1','14_C1','15_C1','16_C1','17_C1','18_C1'], axis = 1, inplace = False)

In [12]:
df_Product_Category_2 = data.groupby(['User_ID','Product_Category_2'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')
df_Product_Category_2 = df_Product_Category_2.set_axis(['0_C2','2_C2','3_C2','4_C2','5_C2','6_C2','7_C2','8_C2','9_C2','10_C2','11_C2','12_C2','13_C2','14_C2','15_C2','16_C2','17_C2','18_C2'], axis = 1, inplace = False)

In [13]:
df_Product_Category_3 = data.groupby(['User_ID','Product_Category_3'])['Product_Category_1'].sum().apply(lambda x: x>0).unstack().fillna(False).reset_index().set_index('User_ID')
df_Product_Category_3 = df_Product_Category_3.set_axis(['0_C3','3_C3','4_C3','5_C3','6_C3','8_C3','9_C3','10_C3','11_C3','12_C3','13_C3','14_C3','15_C3','16_C3','17_C3','18_C3'], axis = 1, inplace = False)

In [14]:
df = pd.concat([df_Product, df_Occupation, df_City, df_Stay, df_Marital, df_Product_Category_1, df_Product_Category_2, df_Product_Category_3, df_Age, df_Gender], axis = 1)

In [19]:
frq_items = apriori(df, min_support = 0.05, use_colnames = True, max_len = 2)
print(frq_items)

# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.001)
rules.head(20)

       support     itemsets
0     0.082159  (P00000142)
1     0.052792  (P00002142)
2     0.058903  (P00003242)
3     0.066033  (P00003442)
4     0.053641  (P00003942)
...        ...          ...
3598  0.255984   (26-35, M)
3599  0.056527   (36-45, F)
3600  0.141572   (36-45, M)
3601  0.059243   (46-50, M)
3602  0.057545   (51-55, M)

[3603 rows x 2 columns]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(P00000142),(0_M),0.082159,0.580037,0.050416,0.613636,1.057926,0.002760,1.086962
1,(0_M),(P00000142),0.580037,0.082159,0.050416,0.086918,1.057926,0.002760,1.005212
2,(1_C1),(P00000142),0.905958,0.082159,0.077406,0.085441,1.039947,0.002973,1.003589
3,(P00000142),(1_C1),0.082159,0.905958,0.077406,0.942149,1.039947,0.002973,1.625579
4,(2_C1),(P00000142),0.536581,0.082159,0.060431,0.112623,1.370784,0.016346,1.034330
5,(P00000142),(2_C1),0.082159,0.536581,0.060431,0.735537,1.370784,0.016346,1.752302
6,(P00000142),(3_C1),0.082159,0.485317,0.082159,1.000000,2.060511,0.042286,inf
7,(3_C1),(P00000142),0.485317,0.082159,0.082159,0.169290,2.060511,0.042286,1.104887
8,(P00000142),(5_C1),0.082159,0.852996,0.078085,0.950413,1.114206,0.008004,2.964579
9,(5_C1),(P00000142),0.852996,0.082159,0.078085,0.091542,1.114206,0.008004,1.010329
10,(P00000142),(6_C1),0.082159,0.521643,0.053302,0.648760,1.243686,0.010444,1.361910
11,(6_C1),(P00000142),0.521643,0.082159,0.053302,0.102180,1.243686,0.010444,1.022300
12,(8_C1),(P00000142),0.767951,0.082159,0.070107,0.091291,1.111146,0.007013,1.010049
13,(P00000142),(8_C1),0.082159,0.767951,0.070107,0.853306,1.111146,0.007013,1.581854
14,(P00000142),(0_C2),0.082159,0.944152,0.079783,0.971074,1.028515,0.002212,1.930742
15,(0_C2),(P00000142),0.944152,0.082159,0.079783,0.084502,1.028515,0.002212,1.002559
16,(2_C2),(P00000142),0.729588,0.082159,0.070446,0.096557,1.175237,0.010504,1.015936
17,(P00000142),(2_C2),0.082159,0.729588,0.070446,0.857438,1.175237,0.010504,1.896806
18,(P00000142),(4_C2),0.082159,0.527075,0.082159,1.000000,1.897262,0.038855,inf
19,(4_C2),(P00000142),0.527075,0.082159,0.082159,0.155878,1.897262,0.038855,1.087331

In [21]:
# Eliminamos las reglas que no sirven
mask = (rules['antecedents'].apply(lambda x: '0_C2' in x) | rules['consequents'].apply(lambda x: '0_C2' in x) | rules['antecedents'].apply(lambda x: '0_C3' in x) | rules['consequents'].apply(lambda x: '0_C3' in x))
rules = rules.drop(rules[mask].index)