<a href="https://colab.research.google.com/github/Alvaro-Garcia-Parra/AA_GRUPO3/blob/main/Lab04_Pr4PUBG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerías y funciones a utilizar

In [48]:
import mlxtend
from mlxtend.frequent_patterns import association_rules, apriori
from mlxtend import frequent_patterns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from prettytable import PrettyTable

# Objetivo
Bluehole, la empresa encargada del videojuego PlayerUnknown’s Battlegrounds quiere introducir nuevos
paquetes dependiendo del tipo de jugador. Para ello dispone de estadísticas de los 200 mejores jugadores.Aplica un algoritmo de manera que se obtengan dichos grupos.

1) Utiliza varias configuraciones teniendo en cuenta el número de grupos que se creará y cambiando cómo
se mide la distancia entre individuos. Crea una tabla donde se incluya toda la información y el número
necesario de iteraciones para llegar a dicha solución. Se considera la mejor solución aquella que necesite
menos iteraciones.

2) Con la mejor configuración del punto anterior. Utiliza dos criterios para elegir el lugar inicial del
punto central de los grupos. Dibuja cómo se van modificando los grupos y cómo van cambiando
sus centroides en cada iteración. Obtén una conclusión acerca de dónde deberían situarse los
centroides.

3) Estudia qué técnicas de preprocesamiento se podrían incluir en base al error cometido en cada
cluster.

## Desarrollo
### Lectura y preprocesamiento de los datos
No hay datos vacíos ni duplicados

In [49]:
# Lectura de la base de datos
filename = 'PUBG.csv'
data = pd.read_csv(filename, sep = ',')

# Revisión de los tipos de datos
print(data.dtypes)
data

player_name             object
tracker_id               int64
solo_KillDeathRatio    float64
solo_WinRatio          float64
solo_TimeSurvived      float64
                        ...
squad_Heals              int64
squad_Revives            int64
squad_Boosts             int64
squad_DamageDealt      float64
squad_DBNOs              int64
Length: 152, dtype: object

,player_name,tracker_id,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,BreakNeck,4405,3.14,17.65,18469.14,17,3,0.83,4,23.5,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
1,Blackwalk,8199,4.41,18.18,33014.86,33,6,0.36,11,33.3,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724
2,mercedes_benz,4454,3.60,0.00,4330.44,5,0,0.00,1,20.0,...,3935265.63,5589608.74,1871.89,3011.87,725.44,1766,210,2193,292977.07,1897
3,DORA,7729,14.00,50.00,13421.82,8,4,0.67,6,75.0,...,2738998.00,3796916.00,2154.62,5578.41,587.28,1214,142,1252,181106.90,1057
4,n2tstar,0,10.50,33.33,9841.04,6,2,0.40,5,83.3,...,2347295.00,3220260.00,2098.47,5642.54,546.10,1245,120,923,160029.80,1077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,jungwook,11690,3.37,17.33,581263.40,427,74,0.38,195,45.7,...,585880.94,1010687.19,2015.37,2582.05,796.52,520,71,513,69526.76,456
95,Sitton,6042,6.00,27.27,15639.28,11,3,0.60,5,45.5,...,1370085.00,2075036.00,2049.28,3982.80,511.08,823,109,891,97551.31,573
96,PANDATV-TYF,22188,3.05,9.84,243659.10,193,19,0.25,77,39.9,...,1079497.60,1870113.40,1750.42,2107.95,560.26,998,166,741,135111.34,856
97,Great_Cornholio,2260,0.00,0.00,561.04,1,0,0.00,0,0.0,...,1280647.63,2002011.90,1848.11,1898.83,730.65,1088,74,573,119974.01,754
98,Cafri,9346,3.10,16.67,17552.90,12,2,0.40,5,41.7,...,3460731.00,4717473.00,1615.35,4448.24,370.99,1696,167,1268,123238.70,752

In [50]:
data = data.drop_duplicates()
data.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 0 to 98
Data columns (total 152 columns):
 #    Column                     Non-Null Count  Dtype
---   ------                     --------------  -----
 0    player_name                99 non-null     object
 1    tracker_id                 99 non-null     int64
 2    solo_KillDeathRatio        99 non-null     float64
 3    solo_WinRatio              99 non-null     float64
 4    solo_TimeSurvived          99 non-null     float64
 5    solo_RoundsPlayed          99 non-null     int64
 6    solo_Wins                  99 non-null     int64
 7    solo_WinTop10Ratio         99 non-null     float64
 8    solo_Top10s                99 non-null     int64
 9    solo_Top10Ratio            99 non-null     float64
 10   solo_Losses                99 non-null     int64
 11   solo_Rating                99 non-null     float64
 12   solo_BestRating            99 non-null     float64
 13   solo_DamagePg              99 non-null     float64
 14   solo_HeadshotKillsPg       99 non-null     float64
 15   solo_HealsPg               99 non-null     float64
 16   solo_KillsPg               99 non-null     float64
 17   solo_MoveDistancePg        99 non-null     float64
 18   solo_RevivesPg             99 non-null     int64
 19   solo_RoadKillsPg           99 non-null     float64
 20   solo_TeamKillsPg           99 non-null     float64
 21   solo_TimeSurvivedPg        99 non-null     float64
 22   solo_Top10sPg              99 non-null     float64
 23   solo_Kills                 99 non-null     int64
 24   solo_Assists               99 non-null     int64
 25   solo_Suicides              99 non-null     int64
 26   solo_TeamKills             99 non-null     int64
 27   solo_HeadshotKills         99 non-null     int64
 28   solo_HeadshotKillRatio     99 non-null     float64
 29   solo_VehicleDestroys       99 non-null     int64
 30   solo_RoadKills             99 non-null     int64
 31   solo_DailyKills            99 non-null     int64
 32   solo_WeeklyKills           99 non-null     int64
 33   solo_RoundMostKills        99 non-null     int64
 34   solo_MaxKillStreaks        99 non-null     int64
 35   solo_WeaponAcquired        99 non-null     int64
 36   solo_Days                  99 non-null     int64
 37   solo_LongestTimeSurvived   99 non-null     float64
 38   solo_MostSurvivalTime      99 non-null     float64
 39   solo_AvgSurvivalTime       99 non-null     float64
 40   solo_WinPoints             99 non-null     int64
 41   solo_WalkDistance          99 non-null     float64
 42   solo_RideDistance          99 non-null     float64
 43   solo_MoveDistance          99 non-null     float64
 44   solo_AvgWalkDistance       99 non-null     float64
 45   solo_AvgRideDistance       99 non-null     float64
 46   solo_LongestKill           99 non-null     float64
 47   solo_Heals                 99 non-null     int64
 48   solo_Revives               99 non-null     int64
 49   solo_Boosts                99 non-null     int64
 50   solo_DamageDealt           99 non-null     float64
 51   solo_DBNOs                 99 non-null     int64
 52   duo_KillDeathRatio         99 non-null     float64
 53   duo_WinRatio               99 non-null     float64
 54   duo_TimeSurvived           99 non-null     float64
 55   duo_RoundsPlayed           99 non-null     int64
 56   duo_Wins                   99 non-null     int64
 57   duo_WinTop10Ratio          99 non-null     float64
 58   duo_Top10s                 99 non-null     int64
 59   duo_Top10Ratio             99 non-null     float64
 60   duo_Losses                 99 non-null     int64
 61   duo_Rating                 99 non-null     float64
 62   duo_BestRating             99 non-null     float64
 63   duo_DamagePg               99 non-null     float64
 64   duo_HeadshotKillsPg        99 non-null     float64
 65   duo_HealsPg                99 non-null     float64
 66   duo_KillsPg                99 non-null     float64
 67   duo_MoveDistancePg         99 non-null     float64
 68   duo_RevivesPg              99 non-null     float64
 69   duo_RoadKillsPg            99 non-null     float64
 70   duo_TeamKillsPg            99 non-null     float64
 71   duo_TimeSurvivedPg         99 non-null     float64
 72   duo_Top10sPg               99 non-null     float64
 73   duo_Kills                  99 non-null     int64
 74   duo_Assists                99 non-null     int64
 75   duo_Suicides               99 non-null     int64
 76   duo_TeamKills              99 non-null     int64
 77   duo_HeadshotKills          99 non-null     int64
 78   duo_HeadshotKillRatio      99 non-null     float64
 79   duo_VehicleDestroys        99 non-null     int64
 80   duo_RoadKills              99 non-null     int64
 81   duo_DailyKills             99 non-null     int64
 82   duo_WeeklyKills            99 non-null     int64
 83   duo_RoundMostKills         99 non-null     int64
 84   duo_MaxKillStreaks         99 non-null     int64
 85   duo_WeaponAcquired         99 non-null     int64
 86   duo_Days                   99 non-null     int64
 87   duo_LongestTimeSurvived    99 non-null     float64
 88   duo_MostSurvivalTime       99 non-null     float64
 89   duo_AvgSurvivalTime        99 non-null     float64
 90   duo_WinPoints              99 non-null     int64
 91   duo_WalkDistance           99 non-null     float64
 92   duo_RideDistance           99 non-null     float64
 93   duo_MoveDistance           99 non-null     float64
 94   duo_AvgWalkDistance        99 non-null     float64
 95   duo_AvgRideDistance        99 non-null     float64
 96   duo_LongestKill            99 non-null     float64
 97   duo_Heals                  99 non-null     int64
 98   duo_Revives                99 non-null     int64
 99   duo_Boosts                 99 non-null     int64
 100  duo_DamageDealt            99 non-null     float64
 101  duo_DBNOs                  99 non-null     int64
 102  squad_KillDeathRatio       99 non-null     float64
 103  squad_WinRatio             99 non-null     float64
 104  squad_TimeSurvived         99 non-null     float64
 105  squad_RoundsPlayed         99 non-null     int64
 106  squad_Wins                 99 non-null     int64
 107  squad_WinTop10Ratio        99 non-null     float64
 108  squad_Top10s               99 non-null     int64
 109  squad_Top10Ratio           99 non-null     float64
 110  squad_Losses               99 non-null     int64
 111  squad_Rating               99 non-null     float64
 112  squad_BestRating           99 non-null     float64
 113  squad_DamagePg             99 non-null     float64
 114  squad_HeadshotKillsPg      99 non-null     float64
 115  squad_HealsPg              99 non-null     float64
 116  squad_KillsPg              99 non-null     float64
 117  squad_MoveDistancePg       99 non-null     float64
 118  squad_RevivesPg            99 non-null     float64
 119  squad_RoadKillsPg          99 non-null     float64
 120  squad_TeamKillsPg          99 non-null     float64
 121  squad_TimeSurvivedPg       99 non-null     float64
 122  squad_Top10sPg             99 non-null     float64
 123  squad_Kills                99 non-null     int64
 124  squad_Assists              99 non-null     int64
 125  squad_Suicides             99 non-null     int64
 126  squad_TeamKills            99 non-null     int64
 127  squad_HeadshotKills        99 non-null     int64
 128  squad_HeadshotKillRatio    99 non-null     float64
 129  squad_VehicleDestroys      99 non-null     int64
 130  squad_RoadKills            99 non-null     int64
 131  squad_DailyKills           99 non-null     int64
 132  squad_WeeklyKills          99 non-null     int64
 133  squad_RoundMostKills       99 non-null     int64
 134  squad_MaxKillStreaks       99 non-null     int64
 135  squad_WeaponAcquired       99 non-null     int64
 136  squad_Days                 99 non-null     int64
 137  squad_LongestTimeSurvived  99 non-null     float64
 138  squad_MostSurvivalTime     99 non-null     float64
 139  squad_AvgSurvivalTime      99 non-null     float64
 140  squad_WinPoints            99 non-null     int64
 141  squad_WalkDistance         99 non-null     float64
 142  squad_RideDistance         99 non-null     float64
 143  squad_MoveDistance         99 non-null     float64
 144  squad_AvgWalkDistance      99 non-null     float64
 145  squad_AvgRideDistance      99 non-null     float64
 146  squad_LongestKill          99 non-null     float64
 147  squad_Heals                99 non-null     int64
 148  squad_Revives              99 non-null     int64
 149  squad_Boosts               99 non-null     int64
 150  squad_DamageDealt          99 non-null     float64
 151  squad_DBNOs                99 non-null     int64
dtypes: float64(83), int64(68), object(1)
memory usage: 118.3+ KB

<ipython-input-50-b6607a5c476f>:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(verbose=True, null_counts=True)

In [51]:
data = data.drop(data.columns[[0, 1]], axis = 1)
data

,solo_KillDeathRatio,solo_WinRatio,solo_TimeSurvived,solo_RoundsPlayed,solo_Wins,solo_WinTop10Ratio,solo_Top10s,solo_Top10Ratio,solo_Losses,solo_Rating,...,squad_RideDistance,squad_MoveDistance,squad_AvgWalkDistance,squad_AvgRideDistance,squad_LongestKill,squad_Heals,squad_Revives,squad_Boosts,squad_DamageDealt,squad_DBNOs
0,3.14,17.65,18469.14,17,3,0.83,4,23.5,14,1559.78,...,3751590.99,5194786.58,2626.97,4372.64,536.98,2186,234,1884,242132.73,1448
1,4.41,18.18,33014.86,33,6,0.36,11,33.3,27,1884.53,...,4295917.30,6051783.67,2422.48,6009.73,734.85,2041,276,2340,269795.75,1724
2,3.60,0.00,4330.44,5,0,0.00,1,20.0,5,1255.92,...,3935265.63,5589608.74,1871.89,3011.87,725.44,1766,210,2193,292977.07,1897
3,14.00,50.00,13421.82,8,4,0.67,6,75.0,4,1798.70,...,2738998.00,3796916.00,2154.62,5578.41,587.28,1214,142,1252,181106.90,1057
4,10.50,33.33,9841.04,6,2,0.40,5,83.3,4,1668.67,...,2347295.00,3220260.00,2098.47,5642.54,546.10,1245,120,923,160029.80,1077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,3.37,17.33,581263.40,427,74,0.38,195,45.7,353,2952.00,...,585880.94,1010687.19,2015.37,2582.05,796.52,520,71,513,69526.76,456
95,6.00,27.27,15639.28,11,3,0.60,5,45.5,8,1754.57,...,1370085.00,2075036.00,2049.28,3982.80,511.08,823,109,891,97551.31,573
96,3.05,9.84,243659.10,193,19,0.25,77,39.9,174,2624.78,...,1079497.60,1870113.40,1750.42,2107.95,560.26,998,166,741,135111.34,856
97,0.00,0.00,561.04,1,0,0.00,0,0.0,1,1201.09,...,1280647.63,2002011.90,1848.11,1898.83,730.65,1088,74,573,119974.01,754
98,3.10,16.67,17552.90,12,2,0.40,5,41.7,10,1676.56,...,3460731.00,4717473.00,1615.35,4448.24,370.99,1696,167,1268,123238.70,752

In [52]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# crear una lista con diferentes valores del número de grupos y medidas de distancia
n_clusters_list = [2, 3, 4, 5]
metric_list = ['euclidean', 'manhattan', 'cosine']

# Creación de la tabla
tabla = PrettyTable()
tabla.field_names = ["Cluster","Distance","Iterations","Score"]


# iterar sobre los valores de n_clusters y metric
for n_clusters in n_clusters_list:
    for metric in metric_list:
        
        # ajustar el modelo kmeans
        kmeans = KMeans(n_clusters=n_clusters, init='k-means++', n_init=10, max_iter=300, tol=1e-4, random_state=42, algorithm = 'auto')
        kmeans.fit(data)
        
        # calcular el número de iteraciones necesarias para llegar a la convergencia
        iterations = kmeans.n_iter_
        
        # calcular el score
        score = silhouette_score(data, kmeans.labels_, metric = metric)

        # añadir los resultados a la lista
        tabla.add_row([n_clusters, metric, iterations, round(score,4)])

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:1366: FutureWarning: algorithm='auto' is deprecated, it will be removed in 1.3. Using 'lloyd' instead.
  warnings.warn(

In [53]:
# Mostramos los resultados
tabla.sortby = "Score"
tabla.reversesort = True
print(tabla)

+---------+-----------+------------+---------+
| Cluster |  Distance | Iterations |  Score  |
+---------+-----------+------------+---------+
|    3    | euclidean |     3      |  0.4429 |
|    4    | euclidean |     7      |  0.4368 |
|    5    | euclidean |     3      |  0.4357 |
|    2    | euclidean |     9      |  0.4354 |
|    3    | manhattan |     3      |  0.4126 |
|    2    | manhattan |     9      |  0.395  |
|    4    | manhattan |     7      |  0.3806 |
|    5    | manhattan |     3      |  0.3768 |
|    3    |   cosine  |     3      |  0.1891 |
|    2    |   cosine  |     9      |  0.131  |
|    4    |   cosine  |     7      |  -0.144 |
|    5    |   cosine  |     3      | -0.1575 |
+---------+-----------+------------+---------+